<!doctype html>

<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="AulasDeCordova2 Firestore">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AulasDeCordova2 Firestore</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="icon" href="imgs/favicon.ico">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="AulasDeCordova2Firestore">
  <meta name="theme-color" content="#4285F4">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="AulasDeCordova2Firestore">
  <meta name="apple-mobile-web-app-status-bar-style" content="#4285F4">

  <!-- Tile icon for Win8 -->
  <!-- <meta name="msapplication-TileColor" content="#3372DF">
  <meta name="msapplication-navbutton-color" content="#303F9F"> -->

</head>
<body>


  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-analytics.js"></script>
  
  <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-firestore.js"></script>

  <script src="../src/firestore-features.js"></script>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyC0HZfSxBUaKf73XDpi0OSqyJSBZDUqiw4",
      authDomain: "auladecordova2-a336f.firebaseapp.com",
      databaseURL: "https://auladecordova2-a336f.firebaseio.com",
      projectId: "auladecordova2-a336f",
      storageBucket: "auladecordova2-a336f.appspot.com",
      messagingSenderId: "618585490476",
      appId: "1:618585490476:web:7459b50d5b4cee3b84fd89",
      measurementId: "G-05EM33JMLK"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  
  <script src="../src/main.js"></script>

  

<!--
<script src="/__/firebase/init.js"></script>

<script src="//unpkg.com/navigo@6"></script>

<script src="/scripts/FriendlyEats.js"></script>
<script src="/scripts/FriendlyEats.View.js"></script>
<script src="/scripts/FriendlyEats.Mock.js"></script>
<script src="/scripts/FriendlyEats.Data.js"></script>
-->
</body>
</html>
